<div class="row">
    <div class="col-8">
      <p>
        Smile Charity Organization is dedicated to improving people's lives with the aim to promote voluntary activism, charity work and create the culture where virtues are nourished.
        The organization is trying to revive the culture of donating, either in time and effort through providing services, direct cash donations or donations of goods for those who need it the most.
        This web site is built for the people whithin organization as a back office tool, so it can be tracked who has helped, when and how. 
      </p>
    </div>
    <div class="col-4">
      <h3>
        Author Information
      </h3>
      <p>Aleksandra Zivanic</p>
      <p>aleksandra19zivanic@hotmail.com</p>
    </div>
  </div>
